#body-main {
    display: flex;
    flex-wrap: wrap;
    background-image: url("./images/Tartan.jpg");
    background-repeat: round;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

#grid {
    width: 600px;
    height: 600px;
    margin: 10px;
    position: absolute;
    top: 18px;
    left: 328px;
    background-image: url("./images/test2\ -\ copie.jpg");
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

#snake {
    width: 60px;
    height: 60px;
    background-image: url("./images/scottish-hat.png");
    filter: contrast(150%);
}

.boris {
    filter: contrast(150%);
}

.pints {
    filter: contrast(150%);
}

#right-side {
    height: 600px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 150px;
    height: 50px;
    margin: 20px;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;

}

#left-side {
    height: 600px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#score {
    width: 150px;
    height: 150px;
    margin-bottom: 100px;
    position: absolute;
    top: 200px;
    left: 1050px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    width: 180px;
    color: white;
    font-size: 3em;
    font-weight: bolder;
    margin: 40px;
}

#finish {
    position: absolute;
    width: 600px;
    height: 600px;
    background-image: url("./images/test2\ -\ copie.jpg");
    top: 28px;
    left: 338px;
    visibility: hidden;
}

#img-boris {
    visibility: hidden;
    position: absolute;
    top: 20px;
    left: 80px;
}

#gif-game-over {
    position: absolute;
    top: 240px;
    left: 70px;
    visibility: hidden;
}

#gif-you-win {
    position: absolute;
    top: 295px;
    left: 55px;
    visibility: hidden;
}

#img-duke {
    visibility: hidden;
    position: absolute;
    left: 140px;
    bottom: 185px;
    filter: contrast(150%);
}

h2 {
    display: flex;
    justify-content: center;
}

#rules {
    width: 500px;
    height: 335px;
    background-color: white;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
    position: absolute;
    top: 200px;
    left: 395px;
    visibility: hidden;
}

#rules-text {
    font-size: 14px;
    padding: 0 20px 20px 20px;
    text-align: justify;
}

.btn-close {
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 3px;
    position: absolute;
    top: 20px;
    left: 465px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#levels {
    width: 440px;
    height: 190px;
    padding: 30px;
    background-color: white;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 200px;
    left: 395px;
    visibility: hidden;
}

#levels-btn {
    width: 400px;
    height: 95px;
    display: flex;
    flex-direction: row;
}